# web interface 
streamlit  

# LLM and RAG 
transformers 
langchain
langchain-ollama
langchain-chroma 

# document parsing and embedding 
sentence-transformers
pypdf

# for basic transformations
pandas
numpy

# authentication 
streamlit-authenticator
# testing 
pytest

-e .