# web interface 
streamlit  

# LLM and RAG 
transformers 
langchain
langchain-ollama
langchain-chroma 

# document parsing 
sentence-transformers
pypdf
re 
csv
pathlib

# for basic transformations
pandas
numpy

# authentication 
streamlit-authenticator
# testing 
pytest

-e .